#{extends 'adminMenu.html' /}
#{set cssName:'news' /}

	<div class="right">
		<div class="calen">
			<img src="/public/images/cal3.png" alt="日历"/>
			<div id="time">加载中</div>
					<script >
						setInterval("time.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
					</script>
		</div>
		<div class="decoration">
			<img  src="/public/images/latestnews.png">
			
		</div>
		<div class="server">	
			<img src="/public/images/server2.png" alt="服务器"/>
			<strong><p>S<span id="gray">C</span><span id="orange">A</span><span id="blue">U</span> <span id="gray">L</span><span id="orange">O</span><span id="blue">V</span>E <span id="orange">T</span><span id="gray">E</span><span id="blue">A</span>M</p></strong>
		</div>
	</div>
	
	<div class="content">
		<div class="intro">
			<img class="img1" src="/public/images/Release.png" alt="新闻发布"/>
			<img class="img2" src="/public/images/mnew.png" alt="新闻发布"/>
		</div>
		<a href="@{MNews.showNews()}">已发布的信息</a>
		<div class="line">
		</div>
		<div class="form">
		<div class="form_mnew">
			#{form @MNews.releaseNews(), enctype:'multipart/form-data'}	
      			<p>
					<strong>时间</strong><br />
					<input type="text" name="time" class="box" />
				</p>
				<p>
					<strong>地点</strong><br/>
					<input type="text" name="address" class="box" />
				</p>
				
				<p>
					<strong>内容</strong><br />
					<textarea name="content" id="content" rows="5" cols="30" class="box" ></textarea>
				</p> 
				<p>
					<strong>上传文件</strong><br />
					<input type="file" id="photo" name="photo" />
				</p>
				<p>
					<input name="submit" type="submit" tabindex="5" value="发布" id="button"/>
				</p>
			#{/form}
		</div></div>
	</div>
	<div class="footer">
		<p>Copyright ? 2013 All Rights Reserved</p>
	</div>
 </div>
</body>
</html>