<html>
<head>
 <title>后台主页</title>
 <link rel="stylesheet" type="text/css" href="/public/stylesheets/home.css" />
</head>
<body>
 <div class="page">
        <p class="logo"><img src="/public/images/home.png" alt="首页"/ id="logo1"><strong>管理员</strong></p>
        <p class="txt_right"><strong>华南农业大学管理员</strong>  <span class="v_line"> | </span> <a href="@{Secure.logout()}">退出</a></p>
     <div class="menu1">
        <a href="@{Application.index()}">前台主页</a>
        <a href="@{Uploads.allUploads()}">所有上传信息</a>
        <a href="@{Verifies.index()}">审核信息</a>
        <a href="@{Emails.index()}">发送邮件</a>
        <a href="@{MNews.index()}">发布信息</a>
        <a href="@{Reports.index()}">后续报道</a>
        <span id="searchspan"><input type="text" name="search" id="search"/><input type="submit" name="submit" value="搜索" id="button"/></span>
    </div>

    <div class="main">
        <h1>欢迎回来</h1>
        <p>
            欢迎来到华南农业大学爱心网站的后台界面。这是一个为所有华农学子提供帮助的平台
        </p>
        <div class="line"></div>
        <h1>现在，你可以</h1>
        <div class="nav"> 
            <ul>
                <li id="release"><a href="@{MNews.index()}"></a></li>
                <li id="info"><a href="@{Users.userMessage()}"></a></li>
                <li id="lovers"><a href="@{LovePersons.index()}"></a></li>
                <li id="about"><a href="@{Reports.index()}"></a></li>
                <li id="upload"><a href="@{Uploads.allUploads()}"></a></li> 
                <li id="mail"><a href="@{Emails.index()}"></a></li> 
            </ul>
        </div>
        <div class="description"> 
            <ul>
                <li>发布信息</li>
                <li>用户信息</li>
                <li>爱心人物</li> 
                <li>后续报道</li> 
                <li>所有上传信息</li>
                <li>发送邮件</li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>Copyright ? 2013 All Rights Reserved</p>
    </div>
 </div>
</body>
</html>