*{
	padding: 0;
	margin: 0;
}
body{
	background: #f0f0f0;
    font-family: arial,helvetica,sans-serif;
    border: none;
    font-size: 12px;
}
.about{
	width: 990px;
	margin: auto;
}
.location {
    padding: 30px 0px 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
}
.location em {
	color: rgb(116, 177, 87);
	font-weight: bolder;
}
.about-us{
	margin: 30px auto 20px auto;
	width: 880px;
	height: 500px;
	border: 1px solid #007d52;
	-moz-box-shadow: 8px 8px 7px #888;
	-webkit-box-shadow: 8px 8px 7px #888;
	box-shadow: 8px 8px 7px #888;
	border-radius: 7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-o-border-radius:7px;
	background: rgb(255,255,255);
}
.about-us h2{
	text-align: center;
	margin-top: 40px;
	color: rgb(59, 139, 39);
	font-size: 20px;
	padding-bottom: 10px;
}
.about-us_left{
	float: left;
	width: 440px;
	margin: 30px 0 0 50px;
	border: 1px solid #ededed;
	padding: 10px;
}
.about-us_right{
	float: left;
	margin: 40px 0 0 50px;
	width: 250px;
	padding-left: 10px;
}
.about-us_right h3{
	margin-top: 8px;
}
.about-us_right p{
	font-family: 'Microsoft YaHei';
	font-size: 14px;
	line-height: 30px;
	text-indent: 2em;
}
.about-us_right a{
	color:black;
	text-decoration: none;
}
.about-us_right a:hover{
	color:#DC0000;
}
.footer{
	height: 50px;
	width: 980px;
	margin: 20px auto 0 auto;
	text-align: center;
	padding-top: 20px;
	font-size: 16px;
}