*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #f0f0f0;
	font-family: arial,helvetica,sans-serif;
	font-size: 13px;
	color: rgb(50,50,50);
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
h1{
	font-size: 23px;
}
h2{
	color:rgb(0, 125, 82);
	font-size: 20px;
	padding-bottom: 10px;
}
.location {
	padding: 30px 0 15px 20px;
    font-size: 16px;
   font-weight: bold;
   color: rgba(0,0,0,0.4);
   *color: gray;
}
.location em{
	color: #74b157;
}
#img{
	width: 180px;
	height: 135px;
}
.imgcommon{
	display: block;
	padding: 4px;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.upload-box,.loverpeople{
	width: 980px;
	position: relative;
	margin: auto;
}
.upload_main,.loverpeople_main{
	height: 340px;
	background-color: whiteSmoke;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	line-height: 20px;
	margin-top: 30px;
}
.upload_img,.loverpeople_img{
	width:180px;
	margin: 20px;
	margin-top: 30px;

}
.upload_content,.loverpeople_content{
	position: absolute;
	left: 260px;
	top: 115px;
	width: 680px; 
	padding-left:20px;
	color: rgb(60,60,60);
}
.postcomment{
	width: 958px;
	margin: 50px 2px 25px 2px;
}
.postcomment h4{
	padding: 8px 0px 0px 10px;
	border-radius: 6px 6px 0px 0px;
	width: 950px;
	height: 25px;
	letter-spacing:0.4em;
	background-color:#DCDCDC;
	color: rgb(0, 125, 82);
	font-size: 16px;
	box-shadow:0px 5px 3px gray;
	border-bottom: 2px solid #DCDCDC;
}
.bd-position{
	position: relative;
	left: 730px;
}
textarea{
	width: 958px;
	height: 150px;
	background-color:transparent;
	border:2px solid #DCDCDC;
	margin-bottom: 10px;
}
.sub-button{
	position: relative;
	left: 850px;
	width: 80px;
	height: 35px;
	color: rgb(255,255,255);
	font-size: 18px;
	border-radius: 4px;
	-wiki-border-radius: 4px;
	box-shadow: 1px 2px 5px rgb(0,0,0);
	-wiki-box-shadow:1px 2px 5px rgb(0,0,0);
	background: rgb(105, 182, 0);
	cursor: pointer;
	border: none;
}
.sub-button:active{
	box-shadow: 0 0 2px rgb(0,0,0);
	-wiki-box-shadow: 0 0 2px rgb(0,0,0);
}
.comment-title{
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(100,100,100);
}
.comments{
	font-size: 14px;
	font-weight: bold;
}
.content{
	min-height: 50px;
	padding: 20px;
	font-family: "Microsoft YaHei";
	font-size: 13px;
	font-weight: normal;
}
.row{
	width: 920px;
	overflow: auto;
	margin:20px 15px;
	padding-bottom: 20px;
	border-bottom: 2px dotted #DCDCDC; 
}
.row p{
	margin-top: 10px;
	color: rgb(50,50,50);
	text-indent: 0.6cm;	
}
.author span{
	color: rgb(0, 125, 82);
}
.footer{
	height: 50px;
	width: 980px;
	border-top: 1px solid #808080;
	margin: 20px auto 0 auto;
	text-align: center;
	padding-top: 10px;
}