ul,li{padding: 0;margin: 0;list-style: none;}

.from{
	width: 400px;
	margin: 20px auto;
	border: 1px solid rgb(161, 170, 170);
	border-radius: 5px;
	padding: 20px;
}

.from li{
	margin-bottom: 10px; 
}

.from input{
	height: 22px;
}

.code{
	vertical-align: -100%;
}
