body{
    border: 0;
    font-family: arial,helvetica,sans-serif;
    word-break: break-all;
    font-size: 13px;
}
body{
	background: #f0f0f0;
	color: rgb(50,50,50);
}
.location,#help_content{
	margin: auto;
}
.location{
	width:980px;
	padding: 30px 0 0 30px;
	font-size: 16px;
   	font-weight: normal;
	color:#999999;
}
.location em {
	color: rgb(116, 177, 87);
	font-weight: bolder;
}
#help_content{
	clear: both;
	border-bottom: 6px solid rgb(182, 182, 182);
	height: 520px;
	width: 980px;
	margin-top:30px;
	margin-bottom: 20px;
}
.helpinfomation{
	float: left;
	border:1px solid #DADDDE; 
	background-color:#FCFCFC;
	border-radius: 4px;
}
.helpinfomation ul{
	padding: 10px;
}
.helpinfomation ul li{
	list-style: none;
	line-height: 40px;
	font-size: 15px;
}
.helpinfomation ul li label{
	width: 80px;
	height: 30px;
	font-size: 16px;
	float: left;
	text-align: center;
}
.helpform_input{
	height: 30px;
	width: 400px;
	border: 1px solid #DADDDE;
	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.help_submit{
	font-size: 90%;
	border: none;
	width: 80px;
	height: 30px;
	cursor: pointer;
    color: white;
    background-color: green;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgb(0,0,0);
	-wiki-box-shadow:1px 2px 5px rgb(0,0,0);
	margin: 5px 20px 5px 500px;
}
.help_submit:active{
	box-shadow: 0 0 2px rgb(0,0,0);
	-wiki-box-shadow: 0 0 2px rgb(0,0,0);
}
.helpwarning{
	float: left;
	font-size: small;
	margin: 20px 0 0 40px;
	width:260px;
    height:360px;
    background: rgb(255,255,255);
    padding:30px 15px;
}
.helpwarning h2{
	font-size:1.3em;
	text-align:center;
	padding-bottom:20px;
}
.helpwarning p{
	text-indent: 0.75cm;
	line-height: 24px;
}
.footer{
	height: 50px;
	width: 980px;
	margin: 20px auto 0 auto;
	text-align: center;
	padding-top: 10px;
}
