*{
	padding: 0;
	margin: 0;
}
body{
	padding: 0;
    margin: 0;
    border: 0;
    font-family: arial,helvetica,sans-serif;
    word-break: break-all;
    font-size: 12px;
	background-color: #f0f0f0;
}
ul,li{
	list-style: none;
}
h1{
	font-size: 23px;
}
h2{
	color: #74b157;
	font-size: 20px;
	padding-bottom: 10px;
}
em{
	color: #74b157;
	font-weight: bolder;
}
#img{
	width: 180px;
	height: 135px;
}

.imgcommon{
	display: block;
	padding: 4px;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a{text-decoration: none;}
#header a{
	color: white;
}

#header ul li:first-child:hover{
	background-color: #5c9b3d;
}
.location {
	padding: 30px 0 15px 20px;
    font-size: 16px;
   font-weight: bold;
   color: rgba(0,0,0,0.4);
   *color: gray;
}

#help-news-box{
	width: 980px;
    position: absolute;
    left: 50%;
    margin-left: -495px;
}
#lovers_body{
	width: 980px;
    position: absolute;
    left: 50%;
    margin-left: -495px;
}
.row{
	height: 180px;
	margin: 20px auto 10px auto;
	background-color: whiteSmoke;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.span1{
	float: left;
	padding: 11px;
}
.span1 a:hover{background-color:white;color: white;}
.span2{
	float: right;
	padding: 20px; 
	width: 720px;
}
.span2 a{
	text-decoration: none;
	color: #74b157;
	padding-bottom: 10px;
	color:rgb(0, 125, 82);
}
.span2 a:hover{color: red;}
.more-load{
	width: 980px;
	min-height: 45px;
	height: auto!important;
	height: 45px;
	margin: 28px auto;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
.more-load-text{
	display: inline-block;
	width: 980px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	font-size: 28px;
	font-weight: bolder;
	color: #cfcfcf;
	cursor: pointer;
}

/*next page*/
.page-box{
	clear: both;
	*position: relative;/*处理ie*/
	*left:820px;
	margin: 20px 25px;
	margin-bottom: 0px;

}
.page-box a{
	padding: 10px;
	-wekit-border:6px;
	-moz-border；6px;
	margin-left: 5px;
	border-radius: 8px 0px;
	background-color: rgba(0,0,0,0.01);
	*background-color:#ededed;
	color: rgba(0,0,0,0.8);
	*color: black;
	border:1px outset white;

}
.page-box a:hover{
	background-color: #74b157;
    color: white;
    border-radius: 6px;
    border:1px solid white;
    box-shadow: 3px 3px 4px #DCDCDC;
}
.page-box-row{
	float: left;
	margin-left: 700px;
	width: 100px;
	height: 25px;
	position: relative;
	border-radius:6px;
	cursor: pointer;
}
.page-ul{
	display: none;
	position: absolute;
	width: 100px;
	padding: 2px 0;
	right:22px;
	bottom: 22px;
	background: #fff;
	border: 1px solid #cfcfcf;
}
.page-item{
	line-height: 25px;
	height: 25px;
	text-align: center;
	cursor: pointer;
}
.current-page-li{
	background: #cfcfcf;
}
.page-item:hover{
	background: #cfcfcf;
}
.current-page-a{
	float: left;
	padding: 6px 0 0 0;
	text-decoration: none;
	color: #9A9A9A;
}
.triangle{
	display: inline-block;
	float: left;
	margin: 14px 0 0 8px;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: solid;
	border-color: #9A9A9A transparent transparent transparent;
}
.footer{
	height: 50px;
	width: 980px;
	border-top: 1px solid #808080;
	margin: 20px auto 0 auto;
	*margin-top: 10px;
	text-align: center;
	padding-top: 10px;
}