body{
    border: 0;
    font-family: arial,helvetica,sans-serif;
    word-break: break-all;
    font-size: 13px;
}
body{
	background: #f0f0f0;
	color: rgb(50,50,50);
}
#help_content{
	width: 990px;
	margin: auto;
}
.location {
    padding: 30px 0px 15px 20px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.4);
}
.location em {
	color: rgb(116, 177, 87);
	font-weight: bolder;
}
.helpinfomation{
	margin:20px auto;
	border:1px solid #DADDDE; 
	background-color:#FCFCFC;
	border-radius: 4px;
	width: 952px;
}
.helpinfomation ul{
	padding: 10px;
}
.helpinfomation ul li{
	list-style: none;
	line-height: 40px;
	font-size: 15px;
}
.helpinfomation ul li label{
	width: 80px;
	height: 30px;
	font-size: 16px;
	float: left;
	text-align: center;
}
.helpform_input{
	height: 30px;
	width: 400px;
	border: 1px solid #DADDDE;
	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.help_submit{
	font-size: 90%;
	border: none;
	width: 80px;
	height: 30px;
	cursor: pointer;
    color: white;
    background-color: green;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgb(0,0,0);
	-wiki-box-shadow:1px 2px 5px rgb(0,0,0);
	margin: 5px 20px 15px 700px;
}
.help_submit:active{
	box-shadow: 0 0 2px rgb(0,0,0);
	-wiki-box-shadow: 0 0 2px rgb(0,0,0);
}
.footer{
	height: 50px;
	width: 980px;
	margin: 20px auto 0 auto;
	text-align: center;
	padding-top: 10px;
}
