<<<<<<< HEAD
body,div,h1,p,ul,li,span{
	padding: 0;
	margin: 0;
	list-style-type:none;
}
body 
{
	background-color:#EBEBEB;
	font-size:17px;
	font-family:"Arial","Tahoma","å¾®è½¯é›…é»‘","é›…é»‘";
	text-align:center;
}
.logo
{
	font-size:30px;
	color:#464646;
	float:left; 
	margin:15px 0px 30px 0px;
}
#logo1
{
	width:50px;
	height:50px;
}
.txt_right
{ 
	font-size:14px;
	float:right;
	margin-top: 50px;
}
.txt_right a:visited,.txt_right a:link
{
	color:#30A4B1;
	text-decoration:none;
}
.txt_right a:hover
{
	color:#F7941D;
}
.login_out
{
	color:#30A4B1;
}
.v_line
{
	padding:0 10px; 
	color:#999999;
}
.page
{
	width:925px;
	margin:0 auto;
	position:absolute;
	top:0;
	left: 200px;
}
.menu1
{
	font-size:17px;	
	line-height:40px;
	text-align:center;
	width:925px;
	height:60px;
	margin:0px 0px 15px 0px;
	background-color:#464646;
	clear:left;
}
.menu1 a
{
	display:block;
	float:left;
}
.menu1 a:link,.menu1 a:visited
{
	color:#FFFFFF;						/*é“¾æŽ¥æ–‡å­—çš„é¢œè‰²*/			
	background-color:#464646;			/*è®¾ç½®é“¾æŽ¥å—çš„é¢œè‰²*/
	text-decoration:none;				/*é“¾æŽ¥æ–‡å­—åŽ»æŽ‰ä¸‹åˆ’çº¿*/
	padding:10px 16px 10px 16px;		/*æ·»åŠ è¡¥ç™½*/
}
.menu1 a:hover,.menu1 a:active
{
	background-color:#30A4B1;
	color:#FFFFFF;							
}
#searchspan
{
	float:right;
}
#search
{
	height:28px;
	margin-top:15px;
	font-size:18px;
}
#button
{
	color:#FFFFFF;
	background-color:#F7941D;
	height:30px;
	border:none;
	font-size:17px;
	margin: 0 10px 0 7px;
	cursor:pointer;
}
.main
{
	text-align:center;
	width:925px;
	height:400px;
	background-color:#F0F8FF;
	border:1px solid #464646;
}
.main h1
{
	text-align:left;
	font-size:28px;
	margin: 10px 40px 20px 40px;
}
.main p
{
	text-align:left;
	font-size:15px;
	margin: 5px 40px;
}
.line
{
	border-top:1px solid #bab9b9; 
	height:1px; 
}
.nav
{	 width:800px;
	 height:110px; 
	 padding-bottom: 10px;
} 
.nav ul li
{ 
	float:left;
	width:100px;
	padding: 0 13px;
}
.nav ul #release a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/Release.png) no-repeat center;
}
.nav ul #release a:hover,.nav ul #release a:active
{
	background:url(../images/Release2.0.png) no-repeat center;
}
.nav ul #info a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/user.png) no-repeat center;
}
.nav ul #info a:hover,.nav ul #info a:active
{
	background:url(../images/user2.png) no-repeat center;
}
.nav ul #about a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/report.png) no-repeat center;
}
.nav ul #about a:hover,.nav ul #about a:active
{
	background:url(../images/report1.png) no-repeat center;
}
.nav ul #upload a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/upload.png) no-repeat center;
}
.nav ul #upload a:hover,.nav ul #upload a:active
{
	background:url(../images/upload2.0.png) no-repeat center;
}
.nav ul #mail a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/mail.png) no-repeat center;
}
.nav ul #mail a:hover,.nav ul #mail a:active
{
	background:url(../images/mail2.0.png) no-repeat center;
}
.description
{	 width:800px;
	 height:50px; 
	 font-weight:bold;
} 
.description ul li
{ 
	float:left;
	width:100px;
	padding: 0 13px;
	text-align: center;
	*width: 134px;          /*é’ˆå¯¹ie6,ie7*/
}
.footer
{
	font-size:17px;	
	color:#FFFFFF;
	line-height:40px;
	text-align:center;
	width:925px;
	height:50px;
	margin:10px 0px 20px 0px;
	background-color:#464646;	
	clear:left;
=======
/*............................... Ò³Ãæ±³¾°...............................*/
body 
{
	background-color:#EBEBEB;
	font-size:17px;
	font-family:"Arial","Tahoma","Î¢ÈíÑÅºÚ","ÑÅºÚ";
	padding:0px;
	margin:0px;
	text-align:center;
}

/*............................... ÍøÒ³Logo...............................*/
.logo
{
	font-size:30px;
	color:#464646;
	float:left; 
	margin:15px 0px 30px 0px;
}
#logo1
{
	width:50px;
	height:50px;
}
/*............................... µÇÂ¼ÐÅÏ¢...............................*/

.txt_right
{ 
	font-size:14px;
	float:right;
	
}

.txt_right a:visited,.txt_right a:link
{
	color:#30A4B1;
	text-decoration:none;
}

.txt_right a:hover
{
	color:#F7941D;
}

.login_out
{
	color:#30A4B1;
}
	
.v_line
{
	padding:0 5px; 
	color:#999999;
}

/*................................Ò³ÃæÖ÷ÌåÄÚÈÝ...............................*/
.page
{
	width:925px;
	margin:0 auto;
}


/*............................... ²Ëµ¥À¸...............................*/

.menu1
{
	font-size:17px;	
	line-height:40px;
	text-align:center;
	width:925px;
	height:60px;
	margin:0px 0px 15px 0px;
	background-color:#464646;
	clear:left;
}

/*...............................²Ëµ¥À¸µã»÷Ð§¹û...............................*/
.menu1 a
{
	display:block;
	float:left;
}

.menu1 a:link,.menu1 a:visited
{
	color:#FFFFFF;						/*Á´½ÓÎÄ×ÖµÄÑÕÉ«*/			
	background-color:#464646;			/*ÉèÖÃÁ´½Ó¿éµÄÑÕÉ«*/
	text-decoration:none;				/*Á´½ÓÎÄ×ÖÈ¥µôÏÂ»®Ïß*/
	padding:10px 16px 10px 16px;		/*Ìí¼Ó²¹°×*/
}

.menu1 a:hover,.menu1 a:active
{
	background-color:#30A4B1;
	color:#FFFFFF;							
}
/*...............................²Ëµ¥À¸ËÑË÷¿ò...............................*/
#search
{
	height:28px;
	margin-top:15px;
	font-size:18px;
}

#button
{
	color:#FFFFFF;
	background-color:#F7941D;
	height:30px;
	border:none;
	font-size:17px;
	font-family:"Arial","Tahoma","Î¢ÈíÑÅºÚ","ÑÅºÚ";
	margin-left:7px;
	margin-right:10px;
	cursor:pointer;
}

#searchspan
{
	float:right;
}
/*...............................ÍøÒ³Ö÷Ä£¿é....................................*/
.main
{
	text-align:center;
	width:925px;
	height:400px;
	background-color:#FFFFFF;
	border:1px solid #464646;
}


.main h1
{
	text-align:left;
	font-size:28px;
	margin-left:40px;
	margin-right:40px;
	margin-bottom:0px;
}

.main p
{
	text-align:left;
	font-size:15px;
	margin-top:5px;
	margin-left:40px;
	margin-right:40px;
}

/*..............................2¡¢·Ö¸îÏß²¿·Ö....................................*/
.line
{
	border-top:1px solid #bab9b9; 
	height:1px; 
}

.nav
{	 width:800px;
	 height:110px; 
} 

.nav ul li
{ 
	list-style-type:none;
	float:left;
	width:100px;
	padding-left:12px;
	padding-right:12px;
}


/*...........................ÓÊ¼þ·¢ËÍÍ¼±ê................................///*/
.nav ul #mail a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/mail.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	background-position:center;
}
.nav ul #mail a:hover,.nav ul #mail a:active
{
	background:url(../images/mail2.0.png);
	background-size:110px 110px;
	background-repeat:no-repeat;
	background-position:center;
}
/*..............................ÐÂÎÅ·¢²¼Í¼±ê..................................*/
.nav ul #release a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/Release.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	background-position:center;
}
.nav ul #release a:hover,.nav ul #release a:active
{
	background:url(../images/Release2.0.png);
	background-size:110px 110px;
	background-repeat:no-repeat;
	background-position:center;
}
/*..............................°®ÐÄÈËÎïÍ¼±ê..................................*/
.nav ul #lovers a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/kindPerson.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	background-position:center;
}
.nav ul #lovers a:hover,.nav ul #lovers a:active
{
	background:url(../images/kindPerson2.0.png);
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:center;
}
/*..............................ÐÅÏ¢ÉÏ´«Í¼±ê..................................*/
.nav ul #upload a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/upload.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	background-position:center;
}
.nav ul #upload a:hover,.nav ul #upload a:active
{
	background:url(../images/upload2.0.png);
	background-size:110px 110px;
	background-repeat:no-repeat;
	background-position:center;
}

/*..............................ÓÃ»§ÐÅÏ¢Í¼±ê..................................*/
.nav ul #info a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/user.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	background-position:center;
}
.nav ul #info a:hover,.nav ul #info a:active
{
	background:url(../images/user2.png);
	background-size:110px 110px;
	background-repeat:no-repeat;
	background-position:center;
}

/*..............................reportÍ¼±ê..................................*/
.nav ul #about a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/report.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	background-position:center;
}
.nav ul #about a:hover,.nav ul #about a:active
{
	background:url(../images/report1.png);
	background-size:110px 110px;
	background-repeat:no-repeat;
	background-position:center;
}

.description
{	 width:800px;
	 height:50px; 
	 font-family:"Arial","Tahoma","Î¢ÈíÑÅºÚ","ÑÅºÚ";
	 font-weight:bold;
} 

.description ul li
{ 
	list-style-type:none;
	float:left;
	width:100px;
	padding-left:13px;
	padding-right:12px;
	
}

/*...............................ÍøÒ³µ×²¿....................................*/
.footer
{
	font-size:17px;	
	color:#FFFFFF;
	line-height:40px;
	text-align:center;
	width:925px;
	height:50px;
	margin:10px 0px 20px 0px;
	background-color:#464646;	
	clear:left;
>>>>>>> 98595e8eb3aff674d0888e3f8dd73f03a47ce8b3
}