body,div,h1,p,ul,li,span{
	padding: 0;
	margin: 0;
	list-style-type:none;
}
body 
{
	background-color:#EBEBEB;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	text-align:center;
}
.logo
{
	font-size:30px;
	color:#464646;
	float:left; 
	margin:15px 0px 30px 0px;
}
#logo1
{
	width:50px;
	height:50px;
}
.txt_right
{ 
	font-size:14px;
	float:right;
	margin-top: 50px;
}
.txt_right a:visited,.txt_right a:link
{
	color:#30A4B1;
	text-decoration:none;
}
.txt_right a:hover
{
	color:#F7941D;
}
.login_out
{
	color:#30A4B1;
}
.v_line
{
	padding:0 5px; 
	color:#999999;
}
.page
{
	width:925px;
	margin:0 auto;
}
.menu1
{
	font-size:17px;	
	line-height:40px;
	text-align:center;
	width:925px;
	height:60px;
	margin:0px 0px 15px 0px;
	background-color:#464646;
	clear:left;
}
.menu1 a
{
	display:block;
	float:left;
}
.menu1 a:link,.menu1 a:visited
{
	color:#FFFFFF;						/*链接文字的颜色*/			
	background-color:#464646;			/*设置链接块的颜色*/
	text-decoration:none;				/*链接文字去掉下划线*/
	padding:10px 16px 10px 16px;		/*添加补白*/
}
.menu1 a:hover,.menu1 a:active
{
	background-color:#30A4B1;
	color:#FFFFFF;							
}
#searchspan
{
	float:right;
}
#search
{
	height:28px;
	margin-top:15px;
	font-size:18px;
}
#button
{
	color:#FFFFFF;
	background-color:#F7941D;
	height:30px;
	border:none;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	margin: 0 10px 0 7px;
	cursor:pointer;
}
.main
{
	text-align:center;
	width:925px;
	height:400px;
	background-color:#FFFFFF;
	border:1px solid #464646;
}
.main h1
{
	text-align:left;
	font-size:28px;
	margin: 10px 40px 20px 40px;
}
.main p
{
	text-align:left;
	font-size:15px;
	margin: 5px 40px;
}
.line
{
	border-top:1px solid #bab9b9; 
	height:1px; 
}
.nav
{	 width:800px;
	 height:110px; 
	 padding-bottom: 10px;
} 
.nav ul li
{ 
	float:left;
	width:100px;
	padding: 0 13px;
}
.nav ul #release a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/Release.png) no-repeat center;
}
.nav ul #release a:hover,.nav ul #release a:active
{
	background:url(../images/Release2.0.png) no-repeat center;
}
.nav ul #info a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/user.png) no-repeat center;
}
.nav ul #info a:hover,.nav ul #info a:active
{
	background:url(../images/user2.png) no-repeat center;
}
.nav ul #about a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/report.png) no-repeat center;
}
.nav ul #about a:hover,.nav ul #about a:active
{
	background:url(../images/report1.png) no-repeat center;
}
.nav ul #upload a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/upload.png) no-repeat center;
}
.nav ul #upload a:hover,.nav ul #upload a:active
{
	background:url(../images/upload2.0.png) no-repeat center;
}
.nav ul #mail a:link,a:visited
{
	display:block; 
	width:110px; 
	height:110px; 
	background:url(../images/mail.png) no-repeat center;
}
.nav ul #mail a:hover,.nav ul #mail a:active
{
	background:url(../images/mail2.0.png) no-repeat center;
}
.description
{	 width:800px;
	 height:50px; 
	 font-weight:bold;
} 
.description ul li
{ 
	float:left;
	width:100px;
	padding: 0 13px;
	text-align: center;
	*width: 134px;          /*针对ie6,ie7*/
}
.footer
{
	font-size:17px;	
	color:#FFFFFF;
	line-height:40px;
	text-align:center;
	width:925px;
	height:50px;
	margin:10px 0px 20px 0px;
	background-color:#464646;	
	clear:left;
}