*{
	padding: 0;
	margin: 0;
}
body{
    font-family: "Microsoft YaHei",arial,helvetica,sans-serif;
    word-break: break-all;
    font-size: 12px;
	background-color:#F0F0F0;
	color: rgb(50, 50, 50);
}
a{
	color:black;
	text-decoration: none;
}
ul,li{
	list-style: none;
}
h1{
	font-size: 28px;
	font-family: inherit;
}
img {
	border-width: 0;
} 
#wholePage{
	position: relative;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 0 #DADDDE;  
    -webkit-box-shadow: 8px 8px 7px #888;
	box-shadow: 8px 8px 7px #888;
	background-color:#FCFCFC;
	width:1100px;
	height:1630px;
	margin:30px auto;
}
#header1{
	height:135px;
	width: 980px;
	margin: 0 auto;
	padding-bottom: 5px;
}
.logo{
	width:400px;
	height:135px;
	margin:60px 0 0 15px;
}
.needing-help{
	position: relative;
	left: 700px;
	top: -50px;
	display: block;
	width: 130px;
	height: 40px;
	text-align: center;
	color: rgb(245,245,245);
	font-size: 20px;
	line-height: 2.0;
	border-radius: 5px;
	-wiki-border-radius: 5px;
	box-shadow: 1px 2px 5px rgb(0,0,0);
	-wiki-box-shadow:1px 2px 5px rgb(0,0,0);
	background: rgb(71, 179, 0);
}
.needing-help:active{
	box-shadow: 0 0 2px rgb(0,0,0);
	-wiki-box-shadow: 0 0 2px rgb(0,0,0);
}
.undermenu{
	border:1px solid #ddd;
	width:988px;
	height:150px;
	margin:0 auto;
	text-align:center;
	margin-top:20px;
}
.undermenu img{
	width:192px;
	height:150px;	
}
.new-box{
	width: 970px;
	height: 270px;
	border: 2px solid #ddd;
	margin: 0 auto;
	margin-top:40px;
	border-radius: 10px;
	-webkit-border-radius:10px;
	background:#FFF no-repeat 20px 20px;
}
.com-title {
	text-shadow: 0 .032em 0 #B0B0B0,0 .15em .11em rgba(0, 0, 0, .15),0 .25em .021em rgba(0, 0, 0, .1),0 .32em .32em rgba(0, 0, 0, .1);
	padding: 30px 0 35px 30px;
}
.directions{
	color: #007D52;
	border-left: 2px dotted #007D52;
    font-size: 16px;
    margin-left: 10px;
    padding-left: 20px;
}
.directions a{
	color: #007D52;
}
.new-info{
    padding-left: 20px;
    font-weight: bolder;
	font-size: 19px;
}
.new-info li{
	clear: both;
}
.new-item{
	display: block;
	float: left;
	width: 60px;
	height: 30px;
	text-align: center;
	border-radius: 9px;
	-webkit-border-radius: 9px;
	color: white;
	margin-bottom: 20px;
}
.new-time{
    background-color: #B94A48;   
}
.new-address{
    background-color: #F89406; 
}
.new-content{
    background-color: #3A87AD;
}
.new{
	display: block;
	float: left;
	width: 800px;
	margin-left: 50px;
	color: rgb(50, 50, 50);
}
.box{
	height: 750px;
	width: 970px;
	margin: auto;
	padding-top: 20px;
}
.body_left{
	width: 970px;
	height: 560px;
	border: 1px solid #ddd;
	margin: 0 auto;
	border-radius: 10px;
	-webkit-border-radius:10px;
	background-color: #FFF;
}
.body_left2{
	clear: both;
	padding:10px;
	margin-top: 10px;
	line-height: 24px;
	margin-top: 0;
	color: rgb(50,50,50);
}
.body_left2_child{
	clear: both;
}
.body_left1_img{
	float: left;
	display: block;
	padding: 4px;
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .055);
	margin-bottom: 10px;
	width: 180px;
	height: 125px;
}
#img{
	width: 180px;
	height: 125px;
}
.body_left2_main{
    float: left;
    width: 700px;
    padding: 10px 10px 0 30px;
    height: 140px;
}
.body_left2_title{
    text-align: left;
    font-size: 16px;
}
.body_left2_main p{
	line-height: 24px;
	height: 100px;
	overflow: hidden;
	margin: 5px 10px 10px 10px;
}
.body_left4_laternews{
	height: 300px;
	width:600px;
	float:left;
	border: 1px solid #ddd;
	margin: 0 auto;
	margin-top:20px;
	border-radius: 10px;
	background-color: #FFF;
}
.later-title{
	border-top: 2px solid #007D52;
}
.body_left4_content{
	float: left;
	width: 350px;
	padding:  5px 10px 10px 15px;
}
.body_left4_content1{
	line-height: 24px;
	height: 140px;
	overflow: hidden;
    padding-bottom: 5px;

}
.body_left4_img{
	float: left;
	padding: 10px 10px 20px 15px;

}
.more{
	float: right;
	font-size: 14px;
	margin:0 30px 10px 0;
}
.upload{
	width:350px;
	height:300px;
	margin: 0 auto;
	margin-top:20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	-webkit-border-radius:10px;
	background-color: #FFF;
	float:right;
}
.upload img{
	width:180px;
	height:150px;
	padding-left:15px;
	float:left;
}
.upload_desc p{
	width:120px;
	padding:15px;
	line-height: 24px;
	float:right;
}
.footer{
	position: absolute;
	width:1120px;
	bottom: 20px;
	text-align: center;
}
.body_left4_content1 a:hover,.body_left2_title a:hover,.directions a:hover,.more a:hover{
	color:rgb(255, 0, 0);
}