/*............................... 页面背景...............................*/
body 
{
	background-color:#EBEBEB;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	padding:0px;
	margin:0px;
	text-align:center;
}

/*............................... 网页Logo...............................*/
.logo
{
	font-size:30px;
	color:#464646;
	float:left; 
	margin:15px 0px 30px 0px;
}
#logo1
{
	width:50px;
	height:50px;
}
/*............................... 登录信息...............................*/

.txt_right
{ 
	font-size:14px;
	float:right;
	
}

.txt_right a:visited,.txt_right a:link
{
	color:#30A4B1;
	text-decoration:none;
}

.txt_right a:hover
{
	color:#F7941D;
}



.login_out
{
	color:#30A4B1;
}
	
.v_line
{
	padding:0 10px; 
	color:#999999;
}

/*................................页面主体内容...............................*/
.page
{
	width:925px;
	margin:0 auto;
}

.scroll{
	width:705px;
	height:320px;
	overflow-y:scroll;
}

/*............................... 菜单栏...............................*/

.menu1
{
	font-size:17px;	
	line-height:40px;
	text-align:center;
	width:925px;
	height:60px;
	margin:0px 0px 20px 0px;
	background-color:#464646;
	clear:left;
}

/*...............................菜单栏点击效果...............................*/
.menu1 a
{
	display:block;

	float:left;
}

.menu1 a:link,.menu1 a:visited
{
	color:#FFFFFF;						/*链接文字的颜色*/			
	background-color:#464646;			/*设置链接块的颜色*/
	text-decoration:none;				/*链接文字去掉下划线*/
	padding:10px 16px 10px 16px;		/*添加补白*/
}

.menu1 a:hover,.menu1 a:active
{
	background-color:#30A4B1;
	color:#FFFFFF;							
}
/*...............................菜单栏搜索框...............................*/
#search
{
	height:28px;
	margin-top:15px;
	font-size:18px;
}

#button
{
	color:#FFFFFF;
	background-color:#F7941D;
	height:30px;
	border:none;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	margin-left:7px;
	margin-right:10px;
}

#searchspan
{
	float:right;
}

/*...............................网页内容区部分..................................*/
.content
{
	border:1px solid #bab9b9;
	border-top:8px solid #464646;
	width:700px;
	
	background-color:#FFFFFF;
	margin-bottom:15px;
	float:left;
}
/*...................................欢迎标题...................................*/
.welcome
{
	width:
	height:;
	background-color:#464646;
	color:#FFFFFF;
}
.welcome p
{
	font-size:25px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";

}
/*..............................1、内容区intro部分...............................*/
.intro
{
	line-height:60px;
	text-align:left;
	text-decoration:none;
	font-family:Georgia; 
	font-size:24px; 
	font-style:italic;
	padding:20px;
	height:80px;
}
.intro p
{
	margin-bottom:10px;
}
.intro img
{
	width:80px;
	height:85px;
}

/*..............................2、分割线部分....................................*/
.line
{
	border-top:1px solid #bab9b9; 
	margin-top:15px;
	height:1px; 
}
/*..............................3、表单部分.....................................*/
form
{
	
	padding:15px;
	padding-top:0px;
	color:#464646;
	font-size:15px;
	text-align:left;
}
.box
{
	border:1px solid #bab9b9; 
	padding:10px; 
	width:600px; 
	color:#707070; 
	font-size:14px; 
}

.uploadbutton
{
	color:#FFFFFF;
	height:30px;
	border:1px solid #bab9b9;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
}

#button2
{
	color:#FFFFFF;
	background-color:#464646;
	height:30px;
	border:none;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	margin-left:7px;
	margin-right:10px;
}

#button3
{
	color:#FFFFFF;
	background-color:#30A4B1;
	width:100px;
	height:30px;
	border:none;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	margin-left:7px;
	margin-right:10px;
}

/*..................................爱心人物信息表格...............................*/
.kindinfo table
{
	width:670px;
	padding:10px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:15px;
}
.kindinfo td
{
	padding-left:10px;
}
.kindinfo #photo
{
	width:110px;
	height:110px;
}
.kindinfo img
{
	border:1px solid #DDD;
	width:150px;
	
}
.kindinfo .desc
{
	font-weight:bolder;
}
.kindinfo #name
{
	padding-top:15px;
	padding-left:10px;
}

.kindinfo #college
{
	padding-top:15px;
	padding-left:10px;
}



/*...............................网页侧边部分...............................*/
.right
{
	
	background-color:#EBEBEB;
	width:200px;
	height:400px;
	float:right;
}

#time{
	font-size:12px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
}

.calen{
	border:1px solid #bab9b9;
	border-top:8px solid #464646;
	border-bottom:8px solid #464646;
	width:200px;
	height:150px;
	background-color:#FFFFFF;
	background-image:url(../images/sunshine.png);
	background-repeat: no-repeat;  
	background-position:5 5;

}

#time{
	font-size:12px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
}

.calen img
{
	width:80px;
	height:80px;
	margin:15px 10px 15px 10px;
}


.decoration
{
	border:1px solid #bab9b9;
	width:200px;
	height:150px;
	background-color:#FFF;
	margin-top:5px;
	background-repeat: no-repeat;  
	background-position:5 5;	
}

.decoration a:link,a:visited
{
	display:block;
	margin-left:40px;
	margin-bottom:0px;
	padding-bottom:0px;
	width:110px; 
	height:100px; 
	background:url(../images/person.png);
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:center;
}
.decoration a:hover,.decoration a:active
{
	background:url(../images/person1.png);
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:center;
}
.decoration p
{
	text-align:center;
	font-size:10px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
}
/*.......................查看爱心人物信息................................*/
.decoration1
{
	border:1px solid #bab9b9;
	width:200px;
	height:150px;
	background-color:#FFF;
	margin-top:5px;
	background-repeat: no-repeat;  
	background-position:5 5;	
}

.decoration1 a:link,a:visited
{
	display:block;
	margin-left:40px;
	margin-bottom:0px;
	padding-bottom:0px;
	width:110px; 
	height:100px; 
	background:url(../images/person2.png);
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:center;
}
.decoration1 a:hover,.decoration a:active
{
	background:url(../images/person3.png);
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:center;
}
.decoration1 p
{
	text-align:center;
	font-size:10px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
}

.server
{
	margin-top:5px;
	border:1px solid #bab9b9;
	width:200px;
	height:130px;
	background-color:#EBEBEB;
	background-image:url(../images/rainbow3.png);
	background-repeat:no-repeat;
	background-position:12 105;
}

.server img
{
	width:80px;
	height:80px;
	margin:15px 10px 0px 10px;
}


#gray
{
	color:#BCBCBC;
}

#orange
{
	color:#F7941D;
}

#blue
{
	color:#30A4B1;
}

/*...............................网页底部....................................*/
.footer
{
	font-size:17px;	
	color:#FFFFFF;
	line-height:40px;
	text-align:center;
	width:925px;
	height:50px;
	margin:20px 0px 20px 0px;
	background-color:#464646;	
	clear:left;
}