body,div,h1,h2,input,p,ul,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/*............................... 页面背景...............................*/
body 
{
	background-color:#EBEBEB;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	padding:0px;
	margin:0px;
	text-align:center;
}

/*............................... 网页Logo...............................*/
.logo
{
	font-size:30px;
	color:#464646;
	float:left; 
	margin:15px 0px 30px 0px;
}
#logo1
{
	width:50px;
	height:50px;
}
/*............................... 登录信息...............................*/

.txt_right
{ 
	font-size:14px;
	float:right;
	margin-top: 50px;	
	
}

.txt_right a:visited,.txt_right a:link
{
	color:#30A4B1;
	text-decoration:none;
}

.txt_right a:hover
{
	color:#F7941D;
}



.login_out
{
	color:#30A4B1;
}
	
.v_line
{
	padding:0 10px; 
	color:#999999;
}

/*................................页面主体内容...............................*/
.page
{
	width:925px;
	margin:0 auto;
	position: absolute;
	top:0;
	left: 200px;
}


/*............................... 菜单栏...............................*/

.menu1
{
	font-size:17px;	
	line-height:40px;
	text-align:center;
	width:925px;
	height:60px;
	margin:0px 0px 15px 0px;
	background-color:#464646;
	clear:left;
}

/*...............................菜单栏点击效果...............................*/
.menu1 a
{
	display:block;

	float:left;
}

.menu1 a:link,.menu1 a:visited
{
	color:#FFFFFF;						/*链接文字的颜色*/			
	background-color:#464646;			/*设置链接块的颜色*/
	text-decoration:none;				/*链接文字去掉下划线*/
	padding:10px 16px 10px 16px;		/*添加补白*/
}

.menu1 a:hover,.menu1 a:active
{
	background-color:#30A4B1;
	color:#FFFFFF;							
}
/*...............................菜单栏搜索框...............................*/
#search
{
	height:28px;
	margin-top:15px;
	font-size:18px;
}

#button
{
	color:#FFFFFF;
	background-color:#F7941D;
	height:30px;
	border:none;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	margin-left:7px;
	margin-right:10px;
}

#searchspan
{
	float:right;
}

/*...............................网页内容区部分..................................*/
.content
{
	border:1px solid #bab9b9;
	border-top:8px solid #464646;
	width:700px;
	height:470px;
	background-color:#FFFFFF;
	margin-bottom:15px;
	float:left;
}
/*...................................欢迎标题...................................*/
.welcome
{
	width:
	height:;
	background-color:#464646;
	color:#FFFFFF;
}
.welcome p
{
	font-size:25px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";

}
/*..............................1、内容区intro部分...............................*/
.intro
{
	background-color:#EBEBEB;
	line-height:60px;
	text-align:left;
	text-decoration:none;
	font-family:Georgia; 
	font-size:24px; 
	font-style:italic;
	padding:20px;
	height:80px;

}

.intro .img1
{
	width:90px;
	padding-right:10px;
	padding-left:20px;
}
.intro .img2
{
	width:400px;
	height:90%;
	padding-right:0px;
}

/*..............................2、分割线部分....................................*/
.line
{
	border-top:1px solid #bab9b9; 
	margin-top:10px;
	height:1px; 
}
/*..............................邮件类型部分.....................................*/


ul li
{ 
	float:left;
	width:100px;
	list-style-type:none;
	padding-left:12px;
	padding-right:12px;
}

#per
{
	margin-left:120px;
}
#per a:link,a:visited
{
	display:block; 
	width:130px; 
	height:130px; 
	background:url(../images/mail_p.png);
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:center;
}
#per a:hover,.nav ul #about a:active
{
	background:url(../images/mail_p.png);
	background-size:130px 130px;
	background-repeat:no-repeat;
	background-position:center;
}

#all
{
	margin-left:70px;
}

#all a:link,a:visited
{
	display:block; 
	width:130px; 
	height:130px; 
	background:url(../images/mail_a.png);
	background-size:100px 100px;
	background-repeat:no-repeat;
	background-position:center;
}
#all a:hover,.nav ul #about a:active
{
	background:url(../images/mail_a.png);
	background-size:130px 130px;
	background-repeat:no-repeat;
	background-position:center;
}

#pert
{
	margin-left:135px;
}

#allt
{
	margin-left:60px;
}


.description
{	 width:100%;
	 height:50px; 
	 font-family:"Arial","Tahoma","微软雅黑","雅黑";
	 font-weight:bold;
	 background-color: #F0F8FF;
	 clear:left;
} 

.description ul li
{ 
	float:left;
	width:100px;
	padding-left:20px;
	padding-right:12px;
	
}

.detail p
{
	text-align:center;
	font-size:10px;
	padding-top:20px; 
	font-family:"Tahoma","Arial","微软雅黑","雅黑";
}
/*...............................网页侧边部分...............................*/
.right
{
	
	background-color:#EBEBEB;
	width:200px;
	height:400px;
	float:right;
}

#time{
	font-size:12px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
}

.calen{
	border:1px solid #bab9b9;
	border-top:8px solid #464646;
	border-bottom:8px solid #464646;
	width:200px;
	height:150px;
	background-color:#FFFFFF;
	background-image:url(../images/sunshine.png);
	background-repeat: no-repeat;  
	background-position:5 5;

}

#time{
	font-size:12px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
}

.calen img
{
	width:80px;
	height:80px;
	margin:15px 10px 15px 10px;
}
.decoration
{
	border:1px solid #bab9b9;
	width:200px;
	height:150px;
	background-color:#FFF;
	margin-top:5px;
	background-repeat: no-repeat;  
	background-position:5 5;	
}

.decoration img
{
	width:80px;
	height:80px;
	margin:15px 10px 0px 10px;
}

.decoration p
{
	text-align:center;
	font-size:10px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
}

.server
{
	margin-top:5px;
	border:1px solid #bab9b9;
	width:200px;
	height:130px;
	background-color:#EBEBEB;
	background-image:url(../images/rainbow3.png);
	background-repeat:no-repeat;
	background-position:12 105;
}

.server img
{
	width:80px;
	height:80px;
	margin:15px 10px 0px 10px;
}


#gray
{
	color:#BCBCBC;
}

#orange
{
	color:#F7941D;
}

#blue
{
	color:#30A4B1;
}

/*...............................网页底部....................................*/
.footer
{
	font-size:17px;	
	color:#FFFFFF;
	line-height:40px;
	text-align:center;
	width:925px;
	height:50px;
	margin:20px 0px 20px 0px;
	background-color:#464646;	
	clear:left;
}