html{									/*设置页面*/
	background-color:#5B5B5B;
}

.content{								/*设置内容区*/
	width:800px;
	height:700px;						/*圆角*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position:absolute;					/*内容块居中*/
	left:50%;
	top:50%;
	margin:-200px 0 -400px -450px;
	padding:50px 50px 50px 50px;
	
	background-color:#FFFFFF;
}

a:link,a:visited
{
	display:block;
	width:100px;
	height:90px;
	background:url(../images/home.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	background-position:center;
	margin-bottom:0px;
}

.content a:hover,.content a:active
{
	display:block;
	width:100px;
	height:90px;
	background:url(../images/home1.png);
	background-size:80px 80px;
	background-repeat:no-repeat;
	background-position:center;
}

.protocol{								/*设置协议块*/
	padding:10px 5px 5px 5px;
	margin:30px 0px 0px 0px;
	width:300px;
	height:250px;
	font-size:13px;
	font-family:"Arial Narrow",HELVETICA;
	color:#5B5B5B;						/*添加阴影*/
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=6);
    -moz-box-shadow: 4px 4px 15px #909090;
    -webkit-box-shadow: 4px 4px 15px #909090;
    box-shadow:4px 4px 15px #909090;
	float: right;
}

.protocolTitle{
	font-size:20px;
	font-weight:bold;
	font-family:"Arial Narrow",HELVETICA;
	color:#5B5B5B;
	text-align:center;
}

#title{										/*标题居中*/
	font-size:33px;
	font-family:"Arial Narrow",HELVETICA;
	color:#5B5B5B;
	text-align:bottom;
}

.table{									/*设置表单区域*/
	padding:20px;
	width:380px;
	height:400px;
	margin:30px 0px 0px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color:#F6F6F6
}

.table td{								/*表格中单元格*/
	font-size:13px;
	font-weight:bold;
	font-family:"Arial Narrow";
	color:#5B5B5B;
	padding:5px;
	text-align:left;
}

caption{								/*设置表格标题*/
	font-size:22px;
	font-weight:bold;
	font-family:"Arial Narrow";
	color:#5B5B5B;
	text-align:left;
}

.inputText{
	width:240px;
	height:23px;
	border:1px outset #BEBEBE;
}

.inputPass{
	width:240px;
	height:23px;
	border:1px outset #BEBEBE;
}

.button{
	width:100px;
	height:25px;
}

img{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:80px;  
	height:80px;
}