body,div,h1,h2,input,p,ul,li{
	padding: 0;
	margin: 0;
	list-style-type: none;
}


/*............................... 页面背景...............................*/
body 
{
	background-color:#EBEBEB;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	text-align:center;
}

/*............................... 网页Logo...............................*/
.logo
{
	font-size:30px;
	color:#464646;
	float:left; 
	margin:15px 0px 30px 0px;
}
#logo1
{
	width:50px;
	height:50px;
}
/*............................... 登录信息...............................*/

.txt_right
{ 
	font-size:14px;
	float:right;
	margin-top: 50px;	
}

.txt_right a:visited,.txt_right a:link
{
	color:#30A4B1;
	text-decoration:none;
}

.txt_right a:hover
{
	color:#F7941D;

}



.login_out
{
	color:#30A4B1;
}
	
.v_line
{
	padding:0 10px; 
	color:#999999;
}

/*................................页面主体内容...............................*/
.page
{
	width:925px;
	margin:0 auto;
	position: absolute;
	top:0;
	left: 200px;
}
.main
{
	text-align:center;
	width:925px;
	height:400px;
	background-color:#FFFFFF;
	border:1px solid #464646;

}

/*............................... 菜单栏...............................*/

.menu1
{
	font-size:17px;	
	line-height:40px;
	text-align:center;
	width:925px;
	height:60px;
	margin:0px 0px 15px 0px;
	background-color:#464646;
	clear:left;
}

/*...............................菜单栏点击效果...............................*/
.menu1 a
{
	display:block;
	float:left;
}

.menu1 a:link,.menu1 a:visited
{
	color:#FFFFFF;						/*链接文字的颜色*/			
	background-color:#464646;			/*设置链接块的颜色*/
	text-decoration:none;				/*链接文字去掉下划线*/
	padding:10px 16px 10px 16px;	
		/*添加补白*/
}

.menu1 a:hover,.menu1 a:active
{
	background-color:#30A4B1;
	color:#FFFFFF;							
}
/*...............................菜单栏搜索框...............................*/
#search
{
	height:28px;
	margin-top:15px;
	font-size:18px;
	width: 180px;
	border:none;
}

#button
{
	color:#FFFFFF;
	background-color:#F7941D;
	height:28px;
	padding:0 2px;
	border:none;
	font-size:17px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";
	margin: 0 10px 0 7px;
	cursor: pointer;
}


#searchspan
{
	float:right;
}

/*...............................网页内容区部分..................................*/
.content
{
	border:1px solid #bab9b9;
	border-top:8px solid #464646;
	border-bottom:4px solid #464646;
	width:925px;	
	background-color:#F0F8FF;
	margin-bottom:15px;
	float:left;
}
/*...................................欢迎标题...................................*/
.welcome
{
	
	background-color:#464646;
	color:#FFFFFF;
}
.welcome p
{
	font-size:25px;
	font-family:"Arial","Tahoma","微软雅黑","雅黑";

}
/*..............................1、内容区intro部分...............................*/
.intro
{
	background-color:#EBEBEB;
	line-height:60px;
	text-align:left;
	text-decoration:none;
	font-family:Georgia; 
	font-size:24px; 
	font-style:italic;
	padding:20px;
	height:80px;

}

.intro .img1
{
	width:90px;
	padding-right:10px;
	padding-left:20px;
}
.intro .img2
{
	width:500px;
	height:90%;
	padding-right:0px;
}
.upMsg table
{
	margin:15px;
	padding:15px;
	background-color:#F4F4F4;
}



#uploader
{
	font-size:20px;
}

#content1
{
	font-size:20px;
}

.upMsg img
{
	border:1px solid #000000;
	width:450px;
}

.upMsg2
{
	border:1px solid #bab9b9;
	width:700px;
	text-align:left;
	margin-top:30px;
	margin-left:30px;
	margin-bottom:40px;
	padding:30px;
	padding-bottom:10px;
}
.upMsg2 img
{
	width:500px;
	border:1px solid #bab9b9;
}


.title1
{
	font-size:20px;
	font-weight:bold;
}

#contentInfo{
	height:300px;
}

/*..............................2、分割线部分....................................*/
.line
{
	border-top:1px solid #bab9b9; 
	margin-top:0px;
	height:1px; 
}
.line2{
	
	margin-bottom: 5px;
	list-style: none;
}
/*..............................3、分割线部分....................................*/
.upMsg
{
	width:900px;
	margin:10px;
	text-align:left;
}
/*...............................新闻部分.................................*/
.more
{
	font-family:Georgia; 
	text-align:right;
	color:black;
	padding-right:5px;
	list-style: none;

}
.more a:visited,.more a:link
{
	
	text-decoration:none;
	text-align:right;
}

.more a:hover
{
	color:black;
}
.titleInfo
{
	font-size:19px;
	margin-left:3px;
	line-height:30px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	list-style: none;
}

.news
{ 
	width:98%;
	padding-left: 10px;
}
.new
{   padding: 0;
	padding-left: 20px;
	list-style-type: none;
	background-color:#FFEFDB ;
}


/*...............................网页底部....................................*/
.footer
{
	font-size:17px;	
	color:#FFFFFF;
	line-height:40px;
	text-align:center;
	width:925px;
	height:50px;
	margin:10px 0px 20px 0px;
	background-color:#464646;	
	clear:left;
}