
#{extends 'menu.html' /}
#{set cssName:'getPassword' /}
#{form @Users.findPassword(), enctype:'multipart/form-data'}
<ul class="from">
	<li>
	    <label for="email">您的邮箱: </label>
	    <input type="text" name="email" id="email">
	</li>
	<li>
	    <label for="code">请在下面输入验证码: </label>
	    <img class="code" src="@{Users.captcha(randomID)}" />
	    <br />
	    <input type="text" name="code" id="code" size="18" value="" />
	    <input type="hidden" name="randomID" value="${randomID}" />
	</li>
	<li>
		<div class="result">${result}</div>
	    <input type="submit" value="提交" />
	</li>
</ul>
#{/form}