#{extends 'menu.html' /}
#{set cssName:'login' /}
	 <div class="form-body">
        <form action="/Users/checkLogin" enctype="multipart/form-data" method="post" accept-charset="utf-8" onsubmit="return loginCheck(this)">
                <span id="errorMessage"></span>
                <ul class="from-list">
                    <li class="from-head">Sign In</li>
                    <li>
                        <div class="input-name text-bg">
                            <input type="text" name="email" class="input-text"placeholder="你的注册邮箱"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-password text-bg">
                            <input type="password" name="password" class="input-text" placeholder="密码"/>
                        </div>
                    </li>
                    <li class="forgot-password">
					<a href="@{Users.getPassword()}">Forgot Username or Password?</a>
					</li>
                    <li>
                        <input type="submit" value="登录" class="input-submit"/>
                    </li>
                </ul>
        </form>
      </div>
    <div class="footer">
            <p>Copyright ? 2013 All Rights Reserved</p>
    </div>
    <script type="text/javascript" src="/public/javascripts/login.js"></script>
</body>
</html>