#{extends 'menu.html' /}
#{set cssName:'login' /}
	 <div class="form-body">
        #{form @Users.checkLogin(), enctype:'multipart/form-data'}
                ${message}
                <ul class="from-list">
                    <li class="from-head">Sign In</li>
                    <li>
                        <div class="input-name text-bg">
                            <input type="text" name="email" class="input-text"/>
                        </div>
                    </li>
                    <li>
                        <div class="input-password text-bg">
                            <input type="password" name="password" class="input-text"/>
                        </div>
                    </li>
                    <li class="forgot-password">
					<a href="">Forgot Username or Password?</a>
					</li>
                    <li>
                        <input type="submit" value="登录" class="input-submit"/>
                    </li>
                </ul>
        #{/form}
      </div>
      <div class="footer">
            <p>Copyright ? 2013 All Rights Reserved</p>
        </div>
</body>
</html>