<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>用户信息</title>
	<link rel="stylesheet" href="/public/stylesheets/userMessage.css" />
</head>
<body>
	<div class="userMessage">
		<div class="userMessage-metadate">
			<div id="usrLogo">
				<img src="/public/images/usrLogo.jpg" />
			</div>
			<span class="userMessage-id">
                ID:${existUser.userid}<br>
            </span>
            <span class="userMessage-name">
                Name:${existUser.name}<br>
            </span>
            <span class="userMessage-sex">
                Sex: ${existUser.sex}<br>
            </span>
            <span class="userMessage-college">
                College: ${existUser.college}<br>
            </span>
            <span class="userMessage-email">
                Email: ${existUser.email}<br>
            </span>
		</div>
	</div>
</body>
</html>