#{extends 'menu.html' /}
#{set cssName:'userMessage' /}
	<div class="userMessage">
		<div class="userMessage-metadate">
			<div id="usrLogo">
				<img src="/public/images/usrLogo.jpg" />
			</div>
			<span class="userMessage-id">
                ID:${existUser.userid}<br>
            </span>
            <span class="userMessage-name">
                Name:${existUser.name}<br>
            </span>
            <span class="userMessage-sex">
                Sex: ${existUser.sex}<br>
            </span>
            <span class="userMessage-college">
                College: ${existUser.college}<br>
            </span>
            <span class="userMessage-email">
                Email: ${existUser.email}<br>
            </span>
		</div>
	</div>
</body>
</html>