#{extends 'menu.html' /}
#{set cssName:'feedback' /}
	<div class="main main2">
		<form action="">
			<p>
				<label for="name">
					姓名:
				</label>
				<input type="text" name="name" class="input-txt">
			</p>

			<p>
				<label for="content">
					内容:
				</label>
				<br />
				<textarea name="content" class="input-txt txtarea"></textarea>
			</p>

			<p>
				<label for="contact">
					联系方式:
				</label>
				<input type="text" name="contact" class="input-txt">
			</p>

			<p>
				<input type="submit" name="feedback" value="发送" class="sub-button sub-button2">
			</p>
		</form>
	</div>
</body>
</html>