#{extends 'adminMenu.html' /}
#{set cssName:'upload' /}


        <div class="content">

            <div class="intro">
                <img  class="img1" src="/public/images/upload3.png" alt="用户上传信息"/>
                <img  class="img2" src="/public/images/allupload.png" alt="用户上传信息"/>
            </div>

            <div class="line"></div>

            <div class="upMsg">

                <ul class="news">
                    #{if alluploads.size() >= 1}
            #{list items:alluploads, as:'alluploads'}
                    <div class="new">
                       
                        <li class="titleInfo">${alluploads.title}</li>

                        <li class="more">
                            <a href="@{Uploads.showUpload(alluploads.id)}">详情</a>
                        </li>
                        <li class="line2"></li>
                    </div>
                    #{/list}
            #{/if}
            #{else}
                ${message}
            #{/else}
                </ul>

            </div>

        </div>
        <div class="footer">
            <p>Copyright ? 2013 All Rights Reserved</p>
        </div>
    </div>
</body>
</html>