<html>
<head>
	<link rel="stylesheet" href="/public/stylesheets/help.css" />
	<title>我要求助</title>
    <script type="text/javascript" charset="utf-8" src="/public/kindeditor/kindeditor.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/kindeditor/lang/zh_CN.js"></script>
    <script>
        KindEditor.options.filterMode = false;

        KindEditor.ready(function(K) {
            K.editor = K.create('#content');
        });
    </script>
</head>
<body>
	<script type="text/javascript">
     //我要求助
        var M001="例如：2011级";
    var M002="请尽量书写清楚求助人的姓名、性别、年龄以及基本情况，另标明联系方式，以便日后联系帮助！";
    var M003='年级不能为空';
    var M004='标题不能为空';
    var M005='简介不能为空';
    function delContent(value,id)
    {
        var value=document.getElementById(id).value;
        if(value==M001||value==M002)
        {
            document.getElementById(id).value="";
        }
    }
    function checkValue(obj)
    {
        var id=obj.id;
        var value=obj.value.replace(/^\s+/,'').replace(/\s+$/,'');
        if(id=="help_title")
        {
            if(value=="")
            {
                document.getElementById("help_titleError").innerHTML="<span class='error'>"+M004+"</span>";
            }
            else
            {
                document.getElementById("help_titleError").innerHTML="<span class='success'>"&nbsp;"</span>";
            }
        }
        //检查资料
        if(id=="information")
        {
            if(value=="")
            {
                document.getElementById("informationError").innerHTML="<span class='error'>"+M005+"</span>";
            }
            else
            {
                document.getElementById("informationError").innerHTML="<span class='success'>"&nbsp;"</span>";
            }
        }   
    }
//我要求助结束
	</script>
	<!--header begin-->
	<div id="header">
		<ul>
            <li class="home nav-item"><a href="@{Application.index()}" class="home_icon">首页</a></li>
            <li class="helpnews nav-item"><a href="@{Uploads.showAllUploads()}">求助资讯</a></li>
            <li class="helpme nav-item">
                #{if session.get("userId") != null}
                    <a href="@{Uploads.index()}">我要求助</a>
                #{/if}
                #{else}
                    <a href="@{Admin.index()}">我要求助</a>
                #{/else}  
            </li>
            <li class="laternews nav-item"><a href="@{Reports.showAllReports()}">后续报道</a></li>
            <li class="aboutus nav-item"><a href="@{Application.about()}">关于我们</a></li>
            #{if session.get("userId") == null}
                <li><a href="@{Admin.index()}">登录</a></li>
                <li><a href="@{Register.index()}">注册</a></li>
            #{/if}
            #{else}
                <li class="logout nav-item"><a href="@{Secure.logout()}">注销</a>
            #{/else}
        </ul>
	</div>
	<!--header end-->
	<!--help_content begin-->
	<h1 class="location">你现在的位置：首页>我要求助</h1>
	<div id="help_content">
		<div class="helpinfomation">
			<form action="/uploads/uploadhelp" method="post" accept-charset="utf-8" enctype="multipart/form-data" >
				<ul>
					<li>
						<label for="title">标题:</label>
						<input type="text" class="helpform_input" id="title" onblur="checkValue(this);" name="title"/>
						<span id="help_titleError"></span>
					</li>
				    <li>
					    <label for="content">求助资料:</label><br>
					    <textarea id="content" name="content" style="width:700px;height:300px;">
                        请尽量书写清楚求助人的姓名、性别、年龄以及基本情况，另标明联系方式，以便日后联系帮助！
                        </textarea>
				    </li>
                    <li>
                    	<span>
                    		<p>
    							<input type="file" id="photo" name="photo" />
    						</p>
                    	</span>
				    </li>
				    <li>
					    <input class="help_submit" type="submit"  value="提交"/>
				    </li>
				</ul>
			</form>
		</div>
		<div class="helpwarning">
			<h2>求助须知</h2>
			<p>1.求助信息的审核，需要用户注册成为我们网站的用户</p>
			<p>2.为确保您的信息审核通过，请如实填写左侧表单</p>
			<p>3.本网站旨在提供一个平台给需要帮助的校内学生</p>
		</div>
	</div>
	<!--help_content end-->
</body>
</html>