#{extends 'menu.html' /}
#{set cssName:'help-news' /}
    <div id="help-news-box">
        <h1 class="location">你现在的位置：首页><em>我的求助</em></h1>
        #{if myuploads.size() >= 1}
        #{list items:myuploads, as:'myuploads'}
        <div class="row">
            <div class="span1">
                <a class="thumbnail imgcommon" href="#"><img src="/public/images/${myuploads.photoUrl}" alt="childrplen" width="180" height="150" />
                </a>
            </div>
            <div class="span2">
                <h2 class="body_left2_title"><a href="@{Uploads.showOneUpload(myuploads.id)}">${myuploads.title}</a></h2>
                <p>${myuploads.content}</p>
            </div>
        </div>
            #{/list}
            #{/if}
        <div class="page-box">
            <a class="next-page-btn-a" href="@{Uploads.myPrevious(startPosition)}">上一页</a>
            <a class="next-page-btn-a" href="@{Uploads.myNext(startPosition)}">下一页</a>
        </div>
        <div class="footer">
            <p>Copyright ? 2013 All Rights Reserved</p>
        </div>
    </div>
    </body>
</html>