#{extends 'menu.html' /}
#{set cssName:'Comments' /}
	<div class="upload-box">
		<h1 class="location">你现在的位置：首页><em>求助资讯</em></h1>
		<div class="upload_main">
			<div class="upload_img">
				<img class="imgcommon" src="/public/images/${oneUpload.photoUrl}" alt="lovers" width="180" height="135" >
			</div>
			<div class="upload_content">
				<h2>&{oneUpload.title}</h2>
				&{oneUpload.content}
			</div>
		</div>
        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
        <span class="bds_more">分享到：</span>
        <a class="bds_qzone"></a>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <a class="bds_t163"></a>
        <a class="shareCount"></a>
        </div>
        <div class="postcomment">
			<form action="@{Uploads.postComment(oneUpload.id)}" method="post" >
			<h4>发表你的评论</h4>
			<textarea name="content"></textarea>
			<input type="submit" value="提交" name="sub" />
			</form>
		</div>
		${existComments.size()}Comments:
		#{if existComments.size() >= 1}
        #{list items:existComments, as:'existComments'}
        <div class="row">
	    	<div class="comments">
				<div class="author">
					<span>by</span>:${existComments.author}
				</div>
				<div class="content">
					<p>${existComments.content}</p>
				</div>
			</div>
        </div>
        #{/list}
        #{/if}
		#{else}
			暂时没有评论...
		#{/else}
	</div>
	<script type="text/javascript" charset="utf-8" src="/public/kindeditor/kindeditor.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" scr="/public/javascripts/upload.js"></script>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
    </script>
</body>
</html>