#{extends 'menu.html' /}
#{set cssName:'Comments' /}
	<div class="upload-box">
		<h1 class="location">你现在的位置：<a href="@{Application.index()}">首页</a>><em><a href="@{Uploads.showAllUploads(0)}">求助资讯</a></em></h1>
		<div class="upload_main">
			<div class="upload_img">
				<img class="imgcommon" src="/public/images/${oneUpload.photoUrl}" alt="lovers" width="180" height="135" >
			</div>
			<div class="upload_content">
				<h2>&{oneUpload.title}</h2>

				&{oneUpload.content}
			</div>
			<div class="upload_date">
				${oneUpload.postedAt.asdate('y-M-dd HH:mm:ss', 'chs')}
			</div>
		</div>
		<div class="up-hits">
			围观数:${oneUpload.hits}
			#{if session.get("userId") != null}
				#{if flag != 1}
				<a href="@{Uploads.up(session.get('userId'), oneUpload.id)}">顶</a>
				#{/if}
				#{else}
				你已顶过
				#{/else}
			#{/if}
			#{else}
			<a href="@{Users.login()}">登录</a>
			#{/else}
			(${oneUpload.upNum})
		</div>

        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare bd-position">
        <span class="bds_more">分享到：</span>
        <a class="bds_qzone"></a>
        <a class="bds_tsina"></a>
        <a class="bds_tqq"></a>
        <a class="bds_renren"></a>
        <a class="bds_t163"></a>
        <a class="shareCount"></a>
        </div>
        <div class="postcomment">
			<form action="@{Uploads.postComment(oneUpload.id)}" method="post" >
			<h4>发表你的评论</h4>
			<textarea name="content"></textarea>
			<input type="submit" value="提交" name="sub" class="sub-button" />
			</form>
		</div>
		<div class="comment-title">评论(&nbsp;
			${existComments.size()}
			&nbsp;)</div>
		#{if existComments.size() >= 1}
        #{list items:existComments, as:'existComments'}
        <div class="row">
	    	<div class="comments">
				<div class="author">
					<span>用户</span>:&nbsp;${existComments.author} 
				</div>
				<div class="content">
					<p>${existComments.content}</p>
				</div>
			</div>
        </div>
        #{/list}
        #{/if}
		#{else}
			暂时没有评论...
		#{/else}
	</div>
	<div class="footer">
            <p>Copyright ? 2013 All Rights Reserved</p>
        </div>
	<script type="text/javascript" charset="utf-8" src="/public/kindeditor/kindeditor.js"></script>
    <script type="text/javascript" charset="utf-8" src="/public/kindeditor/lang/zh_CN.js"></script>
    <script type="text/javascript" scr="/public/javascripts/upload.js"></script>
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
        <script type="text/javascript" id="bdshell_js"></script>
        <script type="text/javascript">
        document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
    </script>
</body>
</html>