#{extends 'adminMenu.html' /}
#{set cssName:'showUpload' /}

    <div class="content">
      <div class="line">
      </div>
        <div class="uploadinfo">
          <table>
            <tr>
              <td>
                <span class="desc">上传者:&nbsp;</span><font face="楷体">${upload.author}</font>
              </td>
            </tr>
            <tr>
                <td>
                    <span class="title">标题:&nbsp;</span><font face="楷体">${upload.title}</font>
                </td>
            </tr>
            <tr>
              <td>
                <span class="photo"><img src="/public/images/${upload.photoUrl}" width="200" height="200" align="center"/></span>
              </td>
            </tr>
            <tr>
              <td><span class="desc">内容:&nbsp;</span><font face="楷体">${upload.content.nl2br()}</font></td>
            </tr>
            <tr>
              <td><span class="date">
              发布时间 : </span><font face="楷体">${upload.postedAt.format('dd MMM yy')}</font>
              </td>
            </tr>
            <tr>
                #{secure.check 'admin'}
                <td>
                    <a href="@{Uploads.deleteUpload(upload.id)}">删除</a>
                    <a href="@{Uploads.editPage(upload.id)}">编辑</a>
                </td>
                #{/secure.check}
            </tr>
                #{if comments.size() >= 1}
                <tr> 
                    <td>${comments.size()} comments: </td>
                    #{list items:comments, as:'comments'}
                    <span class="comment-author">评论者:</span>${comments.author}<br>
                    <span class="comment-date">
                        Comment at:</span>${comments.postedAt.format('dd MMM yy')}
                    <span class="comment-content">
                        Content:${comments.content}<br>
                    </span>
                    #{/list}
                </tr>
                #{/if}
                #{else}
                    <tr>
                        <td>
                            暂时还没有评论...
                        </td>
                    </tr>
                #{/else} 
                <tr>
                    <td>
                        <div class="line">
                        </div>
                    </td>
                </tr>
        </table>
    </div>
</div>
    <div class="footer">
        <p>Copyright ? 2013 All Rights Reserved</p>
    </div>
</div>
</body>
</html>