
#{extends 'menu.html' /}
	<!--header end-->
	<!--laternews开始-->
<body>	
    <div id="help-news-box">
		<h1 class="location">你现在的位置：首页><em>求助资讯</em></h1>
	    #{if allUploads.size() >= 1}
        #{list items:allUploads, as:'allUploads'}
        <div class="row">
	    	<div class="span1">
                <a class="thumbnail imgcommon" href="#"><img src="/public/images/${allUploads.photoUrl}" alt="childrplen" width="180" height="150" />
                </a>
            </div>
            <div class="span2">
                <a href="@{Uploads.showOneUpload(allUploads.id)}"><h2 class="body_left2_title">&{allUploads.title}</h2></a>
                &{allUploads.content}
            </div>
        </div>
            #{/list}
            #{/if}
            <div class="page-box">
            <a class="next-page-btn-a" href="@{Uploads.previousPage(startPosition)}"><button class="next-page-btn">上一页</button></a>
            <div class="page-box-row">
                <ul class="page-ul">
                    %{
                        for(int i=0;i<=(totalUpload/5 + 0.4);i++){
                    }%
                        <li class="page-item current-page-li"><a href="@{Uploads.showAllUploads(i)}">第 ${i+1} 页</a></li>
                    %{
                        }
                    }%
                </ul>
            </div>
            <a class="next-page-btn-a" href="@{Uploads.nextPage(startPosition)}"><button class="next-page-btn" jref="ds.html">下一页</button></a>
        </div>
        <div class="footer">
            <p>Copyright ? 2013 All Rights Reserved</p>
        </div>
	</div>
</body>	
</html>