<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/public/stylesheets/menu.css" type="text/css" />
    <link rel="stylesheet" href="/public/stylesheets/help-news.css" type="text/css" />
</head>

	<!--header end-->
	<!--laternews开始-->
<body>	
#{extends 'menu.html' /}
    <div id="help-news-box">
		<h1 class="location">你现在的位置：首页><em>求助资讯</em></h1>
	    #{if allUploads.size() >= 1}
        #{list items:allUploads, as:'allUploads'}
        <div class="row">
	    	<div class="span1">
                <a class="thumbnail imgcommon" hrefs="#"><img src="/public/images/${allUploads.photoUrl}" alt="childrplen" width="180" height="150" />
                </a>
            </div>
            <div class="span2">
                <h2 class="body_left2_title"><a href="@{Uploads.showOneUpload(allUploads.id)}">&{allUploads.title}</a></h2>
                &{allUploads.content}
            </div>
        </div>
            #{/list}
            #{/if}
            <div class="page-box">
            <a class="next-page-btn-a" href="@{Uploads.previousPage(startPosition)}">上一页</a>

            <div class="page-box-row">
                <ul class="page-ul">
                    %{
                        for(int i=0;i<=(totalUpload/5 + 0.4);i++){
                    }%
                        <li class="page-item current-page-li"><a href="@{Uploads.showAllUploads(i)}">第 ${i+1} 页</a></li>
                    %{
                        }
                    }%
                </ul>
            </div>
            <a class="next-page-btn-a" href="@{Uploads.nextPage(startPosition)}">下一页</a>
        </div>
        <div class="footer">
            <p>Copyright ? 2013 All Rights Reserved</p>
        </div>
	</div>
</body>	
</html>