#{extends 'menu.html' /}
#{set cssName:'about' /}
    <div class="about">
        <h1 class="location">
            你现在的位置：首页> <em>关于我们</em>
        </h1>
        <div class="about-us">
            <h2>关于我们</h2>
            <div class="about-us_left">
                <img src="/public/images/aboutus.gif"></div>
            <div class="about-us_right">
                <h3>&#10029;爱心扶贫网站宗旨</h3>
                <p>用真诚帮助需要帮助的华农人，网站只提供一个平台让更多消息能够迅速传遍华农，从而让需要帮助的华农人及时得到帮助！</p>
                <h3>&#10029;所属学校</h3>
                <p>华南农业大学</p>
                <h3>&#10029;联系我们</h3>
                <p>woai12346@qq.com</p>
                <h3>
                    <a href="@{FeedBacks.index()}">&#10029;用户反馈信息</a>
                </h3>
            </div>
        </div>
    </div>
    <!--footer begin-->
    <div class="footer">
        <p>Copyright © 2013 All Rights Reserved</p>
    </div>
    <!--footer end-->
    <script type="text/javascript" src="/public/javascripts/my.js"></script>
</body>
</html>