#{extends 'menu.html' /}
#{set cssName:'index' /}
<div id="wholePage">
    <div id="header1">
        <span class="logo">
            <img src="/public/images/logo5.png" alt="logo2" />
        </span>
         #{if session.get("userId") != null}
            <a href="@{Uploads.index()}" class="needing-help">我要求助</a>
            #{/if} 
            #{else}
            <a href="@{Users.login()}" class="needing-help">我要求助</a>
            #{/else}
    </div>
    <div class="undermenu">
        <img src="/public/images/scau/4.jpg" />
        <img src="/public/images/scau/6.jpg" />
        <img src="/public/images/scau/7.jpg" />
        <img src="/public/images/scau/8.jpg" />
        <img src="/public/images/scau/9.jpg" />
    </div>
    <div class="new-box">
        <h1 class="com-title">
            求助信息
            <span class="directions">&nbsp</span>
        </h1>
        <ul class="new-info">
            <li>
                <span class="new-item new-time">时间</span>
                <span class="new">${latestNews.time}</span>
            </li>
            <li>
                <span class="new-item new-address">地点</span>
                <span class="new">${latestNews.address}</span>
            </li>
            <li>
                <span class="new-item new-content">内容</span>
                <span class="new">${latestNews.content}</span>
            </li>
        </ul>
    </div>
    <div class="box">
        <div class="body_left">
            <h1 class="com-title">
                更多求助信息
                <span class="directions">
                    <a href="@{Uploads.showAllUploads()}">他们需要你的援手</a>
                </span>
            </h1>
            <div class="body_left2">
                #{if olderUploads.size() >= 1}
                    #{list items:olderUploads, as:'oldUploads'}
                <div class="body_left2_child">
                    <a class="body_left1_img" href="@{Uploads.showOneUpload(oldUploads.id)}">
                        #{if oldUploads.fileName.matches("^.+\\.img")||
                        oldUploads.fileName.matches("^.+\\.png")||
                        oldUploads.fileName.matches("^.+\\.gif") ||
                        oldUploads.fileName.matches("^.+\\.jpg") ||
                        oldUploads.fineName.matches("^.+\\.jpeg")}
                        <img id="img" src="/public/images/${oldUploads.fileName}" alt="childrplen" />
                        #{/if}
                    </a>
                    <div class="body_left2_main">
                        <h4 class="body_left2_title">
                            <a href="@{Uploads.showOneUpload(oldUploads.id)}">${oldUploads.title}</a>
                        </h4>
                        &{oldUploads.content}
                    </div>
                </div>
                #{/list}
                    #{/if}
                    #{else}
                <div>There is currently nothing to read here.</div>
                #{/else}
            </div>
        </div>
        <div class="body_left4_laternews">
            <h1 class="com-title later-title">
                后续报道
                <span class="directions">
                    <a href="@{Reports.showAllReports()}">因为你，他们多了一份希望</a>
                </span>
            </h1>
            <div class="body_left4_content">
                <p class="body_left4_content1">
                    <a href="@{Reports.showAllReports()}">${report.content}</a>
                </p>
            </div>
            <div class="body_left4_img">
                <img id="img" src="/public/images/${report.photoUrl}" alt="children" />
            </div>
            <div class="more">
                <a href="@{Reports.showAllReports()}">+更多</a>
            </div>
        </div>
        <div class="upload">
            <h1 class="com-title">
                求助上传
                <span class="directions">
                    #{if session.get("userId") != null}
                    <a href="@{Uploads.index()}">让爱陪伴你左右</a>
                    #{/if}
                        #{else}
                    <a href="@{Users.login()}">让爱陪伴你左右</a>
                    #{/else}
                </span>
            </h1>
            <div class="upload_img">
                <img src="/public/images/scau/help.jpg" />
            </div>
            <div class="upload_desc">
                <p>
                    #{if session.get("userId") != null}
                    <a href="@{Uploads.index()}">您或您身边的人有遇到什么困难吗？没关系，点击此处上传你的问题，让更多的人了解，让更多的人帮助你。</a>
                    #{/if}
                    #{else}
                    <a href="@{Users.login()}">您或您身边的人有遇到什么困难吗？没关系，点击此处上传你的问题，让更多的人了解，让更多的人帮助你。</p>
                </a>
                #{/else}
            </div>
        </div>
    </div>
    <div class="footer">
        <span>Copyright © 2013 All Rights Reserved</span>
    </div>
</div>

<script type="text/javascript" src="/public/javascripts/gallery.js"></script>
<script type="text/javascript" src="/public/javascripts/index.js"></script>
</body>
</html>