<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
 <title>后台主页</title>
 <link rel="stylesheet" type="text/css" href="/public/stylesheets/#{get 'cssName'/}.css" />
</head>
<body>
 <div class="page">
        <p class="logo">
            <img src="/public/images/home.png" alt="首页"/ id="logo1"> <strong>管理员</strong>
        </p>
        <p class="txt_right"> <strong>华南农业大学管理员</strong>
            <span class="v_line">|</span>
            <a href="@{Users.logout()}">退出</a>
        </p>
     <div class="menu1">
        <a href="@{Application.index()}">前台主页</a>
        <a href="@{Uploads.allUploads()}">所有上传信息</a>
        <a href="@{Verifies.index()}">审核信息</a>
        <a href="@{Emails.index()}">发送邮件</a>
        <a href="@{MNews.index()}">发布信息</a>
        <a href="@{Reports.index()}">后续报道</a>
    </div>
   	#{doLayout/}