<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>scau爱心网</title>
    <link rel="stylesheet" href="/public/stylesheets/menu.css" type="text/css" />
    <link rel="stylesheet" href="/public/stylesheets/#{get 'cssName'/}.css" type="text/css" />
</head>
<body>
    <div class="header">
    <ul class="menu">
        <li class="home nav-item">
            <a href="@{Application.index()}" class="home_icon">首页</a>
        </li>
        <li class="nav-item">
            <a href="@{Uploads.showAllUploads()}">求助资讯</a>
        </li>
        <li class="nav-item">
            <a href="@{Reports.showAllReports()}">后续报道</a>
        </li>
        <li class="nav-item">
            #{if session.get("userId") != null}
            <a href="@{Uploads.index()}">我要求助</a>
            #{/if} 
            #{else}
            <a href="@{Users.login()}">我要求助</a>
            #{/else}
        </li>
        #{if session.get("authority")=="1"}
        <li class="nav-item">
            <a href="@{Admin.index()}">后台主页</a>
        </li>
        #{/if}
        #{else}
        <li class="nav-item">
            #{if session.get("userId") != null}
            <a href="@{Uploads.myUploads()}">我的求助</a>
            #{/if}
            #{else}
            <a href="@{Users.login()}">我的求助</a>
            #{/else}
        </li>
        #{/else}
        <li class="nav-item">
            <a href="@{Application.about()}">关于我们</a>
        </li>
        #{if session.get("userId") == null}
        <li class="login nav-item">
            <a href="@{Users.login()}">登录</a>
        </li>
        <li class="register nav-item">
            <a href="@{Users.registerPage()}">注册</a>
        </li>
        #{/if}
        #{else}
        <li class="loginOut nav-item">
                欢迎,
                <em id="desc2">
                    <a href="@{Users.userMessage()}">${session.get("userName")}</a>
                </em>
                同学
                <span id="login_out">
                    <a href="@{Users.logout()}">&nbsp;注销&nbsp;</a>
                    <span id="edit_pass">
                        <a href="@{Users.editPasswordIndex()}">修改密码</a>
                    </span>
                </span>
        </li>
        #{/else}
        </ul>
    </div>
    #{doLayout /}