<html>
<head>
 <title>爱心人物</title>
 <link rel="stylesheet" type="text/css" href="/public/stylesheets/kind.css" />
</head>
<body>
 <div class="page">
        <p class="logo"><img src="/public/images/home.png" alt="首页"/ id="logo1"><strong>管理员</strong></p>
        <p class="txt_right"><strong>华南农业大学管理员</strong>  <span class="v_line"> | </span> <a href="@{Secure.logout()}">退出</a></p>
     <div class="menu1">
        <a href="@{Application.index()}">前台主页</a>
        <a href="@{Uploads.allUploads()}">所有上传信息</a>
        <a href="@{Verifies.index()}">审核信息</a>
        <a href="@{Emails.index()}">发送邮件</a>
        <a href="@{MNews.index()}">发布信息</a>
        <a href="@{Reports.index()}">后续报道</a>
        <span id="searchspan"><input type="text" name="search" id="search"/><input type="submit" name="submit" value="搜索" id="button"/></span>
    </div>
	<div class="right">
		<div class="calen">
			<img src="/public/images/cal3.png" alt="日历"/>
			<div id="time">loading</div>
					<script >
						setInterval("time.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);
					</script>
		</div>
		<div class="decoration">
			<a href="@{LovePersons.viewLoveperson()}"></a>
			<p>Click here to know more about kind people..</p>
		</div>
		<div class="server">	
			<img src="/public/images/server2.png" alt="服务器"/>
			<strong><p>S<span id="gray">C</span><span id="orange">A</span><span id="blue">U</span> <span id="gray">L</span><span id="orange">O</span><span id="blue">V</span>E <span id="orange">T</span><span id="gray">E</span><span id="blue">A</span>M</p></strong>
		</div>
	</div>
	
	<div class="content">
		<div class="intro">
			<p><img src="/public/images/person2.png" alt="爱心人物"/>&nbsp;Kind People</p>
		</div>
		<div class="line">
		</div>
		
		<div class="form">
			#{form @LovePersons.editLovePerson() , enctype:'multipart/form-data'}
			<p>
				<strong>NAME</strong><br />
				<input type="text" id="name" name="name" value = "${existPerson.name}" class="box"/>
			</p>
			<p>
				<strong>STORY</strong><br />
				<textarea id="story" name="story" rows="5" cols="30" class="box"/>${existPerson.story}</textarea>
			</p>
			<p>
				<input type="hidden" id="id" name="id" value="${existPerson.id}"/>
			<p>
				<input name="submit" type="submit" tabindex="5" value="UPDATE" id="button"/>
			</p>
		#{/form}
		</div>
	</div>
	<div class="footer">
		<p>Copyright ? 2013 All Rights Reserved</p>
	</div>
 </div>
</body>
</html>